:root {
    --navTexts: #ffffff;
    --navTextsHover: #b700ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: black;
}

html {
    scroll-behavior: smooth;
}

section {
    min-height: 100vh;
    padding: 50px 2rem;
    border: 1px solid red; /* marcar la division */
}

section h1, p {
    color: white;
}

/* Navbar */
nav {
    background: black;
    padding: 0.1rem 2rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid transparent;
    box-shadow: none;
    transition: transform .3s ease, border-color .3s ease, box-shadow .3s ease;
}

nav.scrolled {
    border-bottom: 1px solid var(--navTextsHover);
    box-shadow: 0 4px 12px rgba(0,0,0,.25);
}

nav.hide {
    transform: translateY(-100%);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    color: var(--navTextsHover);
    font-weight: bold;
    font-size: 2.5rem;
    text-decoration: none;
}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    transition: all 0.3s ease;
    padding: 2rem;
}

.nav-links a {
    position: relative;
    color: var(--navTexts);
    text-decoration: none;
    padding-bottom: 5px;
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3.5px;
    background-color: var(--navTextsHover);
    transition: width .3s ease;
}

.nav-links a:hover::after {
    width: 100%;
}

.nav-links a:hover {
    opacity: 0.6;
    transform: translateY(-2px);
    color: var(--navTextsHover);
}

.menu-btn {
    display: none;
    background: none;
    border: none;
    color: var(--navTexts);
    font-size: 2rem;
    cursor: pointer;
}

/* Home */
.home-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    height: 70vh;
    max-width: 1200px;
    margin: 0 auto;
}

.home-photo img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.home-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.home-text {
    display: flex;
    flex-direction: column;
    font-size: 28px;
}

.highlight {
    color: var(--navTextsHover);
}

.home-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}

.home-buttons {
    display: flex;
    gap: 1rem;
}

.home-buttons a {
    border: 2px solid var(--navTexts);
    border-radius: 8px; 
    padding: 5px 10px;
    background-color: black;
    color: var(--navTexts);
    cursor: pointer;
    text-decoration: none;
    transition: ease 0.25s all;
}

.home-buttons a:hover {
    border: 2px solid var(--navTextsHover);
    color: var(--navTextsHover);
    transform: translateY(-3px);
}

.home-socials {
    display: flex;
    gap: 1rem;
}

.home-socials img {
    width: 34px;
    height: 34px;
    transition: ease 0.25s all;
}

.home-socials img:hover {
    transform: translateY(-3px);
}

/* About Me */
#about-me h2 {
    font-size: 40px;
    color: white;
    text-align: center;
    margin-bottom: 4rem;
}

.about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    max-width: 1200px;
    margin: 0 auto;
}

.about-video {
    flex: 1;
}

.about-video video {
    width: 100%;
    max-width: 500px;
    border-radius: 12px;
}

.about-text {
    flex: 1;
    font-size: 20px;
}

/* Projects */
#projects h2 {
    color: var(--navTexts);
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
    font-size: 30px;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(520px, 1fr)); 
    gap: 2rem;
    margin-top: 50px;
    padding: 0 2rem;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.project-card {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px var(--navTextsHover);
    border: solid 3px var(--navTextsHover);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.project-card:hover {
    transform: translateY(-8px);
    box-shadow: 0px 8px 12px var(--navTextsHover);
}

.project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    display: block;
}

.project-card-mobile {
    width: 100%;
    max-width: 280px;
    aspect-ratio: 9 / 19.3;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px var(--navTextsHover);
    border: solid 2px var(--navTextsHover);
    margin: 0 auto;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.project-card-mobile:hover {
    transform: translateY(-8px);
    box-shadow: 0px 8px 12px var(--navTextsHover);
}

.project-card-mobile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    display: block;
}

/* Skills */
#skills h2{
    color: var(--navTexts);
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
    font-size: 30px;
}

#skills h4 {
    color: var(--navTexts);
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
    font-size: 25px;
    opacity: 0.6;
}

.skills-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    gap: 1rem;
}

.skills-softskills {
    width: 50%;
}

.skills-techskills {
    width: 50%;
}

.softskills-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
}

.softskills-list li {
    text-align: center;
    width: 50%;
    border: 2px solid var(--navTexts);
    color: var(--navTexts);
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 14px;
    transition: all 0.25s ease;
    font-size: 20px;
}

.softskills-list li:hover {
    border: 2px solid var(--navTextsHover);
    color: var(--navTextsHover);
    border-radius: 20px;
    transform: translateY(-2px);
}

.tech-category {
    margin-bottom: 1.5rem;
}

.tech-toggle {
    margin: 0 auto;
    display: block;
    width: 50%;
    border: 2px solid var(--navTexts);
    border-radius: 20px;
    padding: 8px 16px;
    background-color: black;
    color: var(--navTexts);
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    transition: all 0.25s ease;
}

.tech-toggle:hover {
    border-color: var(--navTextsHover);
    color: var(--navTextsHover);
    transform: translateY(-4px);
}

.tech-toggle.active {
    border-color: var(--navTextsHover);
    color: var(--navTextsHover);
}

.tech-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.6rem;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height .3s ease, opacity .3s ease, margin .3s ease;
    margin-top: 0;
    padding-top: 13px;
}

.tech-tags.open {
    max-height: 300px;
    opacity: 1;
    margin-top: 0.8rem;
}

.tech-tags span {
    display: flex;
    align-items: center;
    gap: 7px;
    border: 2px solid var(--navTexts);
    border-radius: 20px;
    padding: 5px 12px;
    font-size: 14px;
    color: var(--navTexts);
    transition: all 0.25s ease;
}

.tech-tags span img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.tech-tags span:hover {
    border: 2px solid var(--navTextsHover);
    color: var(--navTextsHover);
    transform: translateY(-2px);
}

/* Contact */
#contact h2 {
    color: var(--navTexts);
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
    font-size: 30px;
}

#contact h4 {
    color: var(--navTexts);
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
    font-size: 20px;
    opacity: 0.6;
}

.contact-container{
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card-contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid #444;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    transition: .3s;
}

.left{
    display:flex;
    align-items:center;
    gap:15px;
}

.left img{
    width: 34px;
    height: 34px;
    object-fit: contain;
    transition: 0.25s
}

.card-contact:hover{
    transform:translateY(-3px);
    border: solid 3px var(--navTextsHover);
    color: var(--navTextsHover);
}

.card-contact:hover .contact-icon-linkedin{
    content:url("../images/icons/linkedin_hover.png");
}

.card-contact:hover .contact-icon-github{
    content:url("../images/icons/github_hover.png");
}

.card-contact:hover .contact-icon-x{
    content:url("../images/icons/x_hover.png");
}

.card-contact:hover .contact-icon-gmail{
    content:url("../images/icons/gmail_hover.png");
}

.card-contact:hover .fa-arrow-up-right-from-square{
    transform:translate(2px,-2px);
}


/* Responsividad */
@media (max-width: 768px) {

    .menu-btn {
        display: block;
    }

    .nav-links {
        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;
        background: black;
        flex-direction: column;
        clip-path: circle(0 at 90% -10%);
        pointer-events: none;
        transition: clip-path .4s ease;
    }

    .nav-links.active {
        clip-path: circle(1500px at 90% -10%);
        pointer-events: all;
    }

    .nav-links li {
        opacity: 0;
        transform: translateY(20px);
        transition: .3s ease;
    }

    .nav-links.active li {
        opacity: 1;
        transform: translateY(0);
    }

    .nav-links li:nth-child(1) {transition-delay: 0.1s;}
    .nav-links li:nth-child(2) {transition-delay: 0.12s;}
    .nav-links li:nth-child(3) {transition-delay: 0.13s;}
    .nav-links li:nth-child(4) {transition-delay: 0.14s;}
    .nav-links li:nth-child(5) {transition-delay: 0.15s;}

}

@media (max-width:768px){
    .contact-container{
        grid-template-columns: 1fr;
    }
}