:root {
    --navTexts: #ffffff;
    --navTextsHover: #b700ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: black;
}

html {
    scroll-behavior: smooth;
}

section {
    min-height: 100vh;
    padding: 100px 2rem;
    border: 1px solid red; /* marcar la division */
}

section h1, p {
    color: white;
}

/* Barra de navegación*/

nav {
    background: black;
    padding: 0.1rem 2rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid transparent;
    box-shadow: none;
    transition: transform .3s ease, border-color .3s ease, box-shadow .3s ease;
}

nav.scrolled {
    border-bottom: 1px solid var(--navTextsHover);
    box-shadow: 0 4px 12px rgba(0,0,0,.25);
}

nav.hide {
    transform: translateY(-100%);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    color: var(--navTextsHover);
    font-weight: bold;
    font-size: 2.5rem;
    text-decoration: none;
}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    transition: all 0.3s ease;
    padding: 2rem;
}

.nav-links a {
    position: relative;
    color: var(--navTexts);
    text-decoration: none;
    padding-bottom: 5px;
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3.5px;
    background-color: var(--navTextsHover);
    transition: width .3s ease;
}

.nav-links a:hover::after {
    width: 100%;
}

.nav-links a:hover {
    opacity: 0.6;
    transform: translateY(-2px);
    color: var(--navTextsHover);
}

.menu-btn {
    display: none;
    background: none;
    border: none;
    color: var(--navTexts);
    font-size: 2rem;
    cursor: pointer;
}

@media (max-width: 768px) {

    .menu-btn {
        display: block;
    }

    .nav-links {
        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;
        background: black;
        flex-direction: column;
        clip-path: circle(0 at 90% -10%);
        pointer-events: none;
        transition: clip-path .4s ease;
    }

    .nav-links.active {
        clip-path: circle(1500px at 90% -10%);
        pointer-events: all;
    }

    .nav-links li {
        opacity: 0;
        transform: translateY(20px);
        transition: .3s ease;
    }

    .nav-links.active li {
        opacity: 1;
        transform: translateY(0);
    }

    .nav-links li:nth-child(1) {transition-delay: 0.1s;}
    .nav-links li:nth-child(2) {transition-delay: 0.12s;}
    .nav-links li:nth-child(3) {transition-delay: 0.13s;}
    .nav-links li:nth-child(4) {transition-delay: 0.14s;}
    .nav-links li:nth-child(5) {transition-delay: 0.15s;}

}

